<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8" />
	<link href="@Url.Content("~/Content/CSS/view_specific_style.css")" rel="stylesheet" type="text/css" />
	@section Styles {
		<link href="@Url.Content("~/Content/CSS/view_specific_style.css")" rel="stylesheet" type="text/css" />
	}
</head>
<body >
	
	@RenderSection("Styles", false)
	@RenderBody()

</body>
</html>
